.inputsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textArea {
  padding-top: 1rem;
}

.adminInputsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.adminInputsContainer > div {
  padding-top: 1rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3.5rem;
}
