.pageInformation {
  color: var(--text-gray);
  text-align: center;
}

.inputsContainer {
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.userContainer {
  height: 100%;
  width: 100%;
  flex-direction: column;
}
