.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.logo {
  width: 100%;
  height: auto;
}

.mainInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.inputContainer > div {
  margin-top: 1rem;
}

.redefinir {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-left: 2rem;
  font-size: small;
  justify-content: center;
}

.redefinir > p {
  color: #c8c8c8;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}
