.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46px;
  border-radius: 15px;
  margin: 8px 0;
  font-size: 1rem;
}

.secondaryColor {
  background-color: var(--gray);
}

.container > svg {
  width: 20px;
  margin-right: 10px;
}
