.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  flex: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: var(--gray);
}

.footer img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.footer img:nth-child(2) {
  width: 80px;
  margin-left: 1rem;
}
