.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.logo {
  width: 100%;
  height: auto;
}

.mainInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}

.inputContainer > div {
  margin-top: 1rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.cellphoneContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 3rem;
}

.cellphone {
  width: 75%;
  height: auto;
}
