.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
  padding-top: 1rem;
}

.imgContainer {
  height: 12rem;
  background-size: cover;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.938rem;
}

.mainInformation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.mainInformation > h2 {
  padding-bottom: 1rem;
}
.mainInformation > p {
  color: var(--text-gray);
}

.infoContainer {
  width: 100%;
  justify-content: left;
  padding-bottom: 1rem;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 0rem;
  margin-bottom: 0.7rem;
}

.info > svg {
  width: 20px;
  margin-right: 5px;
  color: #38b6ff;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
