@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: var(--white);
}

body {
  font-size: 100%;
  list-style-type: none;
  background-color: var(--blue-dark);
}

button {
  cursor: pointer;
  background-color: var(--blue-light);
  border: none;
}

:root {
  --blue-dark: #233043;
  --blue-light: #0e7fc1;
  --blue-lighter: #38b6ff;
  --blue-alternative: #70b2d8;
  --white: #fff;
  --gray: #3c4a5e;
  --text-gray: #c8c8c8;
  --red: #cb6060;
}
